BE_PORT=8080
FE_PORT=3000

SPRING_PROFILES_ACTIVE=dev
SPRING_JPA_HIBERNATE_DDL_AUTO=validate

DB_NAME=asset_flow_db
DB_URL=jdbc:postgresql://db:5432/asset_flow_db
DB_USERNAME=postgres
DB_PASSWORD=changeme
DB_DRIVER=org.postgresql.Driver

MONITOR_DB_USERNAME=monitoring
MONITOR_DB_PASSWORD=changeme_monitoring

FINNHUB_API_KEY=

JWT_KEY=
JWT_EXPIRATION=3600000

FRONTEND_ORIGIN=http://localhost:3000
VITE_BACKEND_URL=http://localhost:8080

PROMETHEUS_SCRAPE_USERNAME=prometheus
PROMETHEUS_SCRAPE_PASSWORD=changeme_scrape

GRAFANA_USER=admin
GRAFANA_PASSWORD=changeme_grafana

IMAGE_TAG=latest
